// _activity.scss
#recent-activity {
  height: inherit;
}

.activity {
  margin: 25px auto;

  h5 {
    text-transform: uppercase;

    a {
      visibility: hidden;
    }
  }

  h5:hover {
    a { visibility: visible; }
  }

  ul {
    list-style-type: none;
    padding-left: 2.50%;

    li {
      margin-bottom: 10px;
      padding-left: 5px;
      border-left: 1px solid red;
    }

    li:nth-child(odd) {
      border-left: 1px solid blue;
    }

    li:nth-child(even) {
      border-left: 1px solid green;
    }
  }
}
