// _coolors.scss

/* RGB */
$background-color: rgba(255, 252, 249, 1);

$accent-color: rgba(177, 237, 232, 1);
$accent-color-dark: rgba(84, 179, 172, 1);
$accent-color-light: rgba(129, 213, 207, 1);

$alt-accent-color: rgba(176, 208, 211, 1);

$primary-color: rgba(12, 98, 145, 1);

$secondary-color: rgba(135, 187, 162, 1);
$secondary-color-dark: rgba(51, 128, 91, 1);
$secondary-color-light: rgba(183, 216, 200, 1);
